body 
{font-family: Roboto, sans-serif;}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* скидаємо відступи */
ul, 
li {
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
}

/* HEADER */
/* 1-а сторінка Основна частина*/
/* 1-а сторінка, Секція 1 з кнопкою- */

/* обмежено межі фону через селектор батька */
.page-button-order >.container {
    background-color: #2E2F42;
}
.page-button-order-service  {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19em;
    display: flex;
    align-items: center; 
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    width: 169px;
    height: 56px;
    align-items: center;
    justify-content: center;
}

.page-button-order-service:hover {
    color: #4D5AE5;
    background: #F4F4FD;
}
.page-button-order-service:focus {
    color: #4D5AE5;
    background: #F4F4FD;
}
.page-button-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.01em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 473px;
    padding-right: 473px;
    padding-top: 188px;
    margin-bottom: 48px;
    text-align: center;
}
.button-wrap {
padding-bottom: 188px;
padding-left: 636px;
padding-right: 635px;
}
/* Оформлення слів Studio Portfolio Contacts*/
.header-link {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-bottom: 24px;
    padding-top: 24px; 
    
}
.header-logo {
    padding-left: 156px;
    margin-right: 76px;
}
.header-lists {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-contacts  {
    display: flex;
    align-items: center;
    padding-right: 156px;
    gap: 40px;
}
/* селектор нащадка - застосувати до класу контейнер, який міститься в класі хедер-пейдж */
.header-page>.container {
    display: flex;
    align-items: center;
}

/* Оформлення телефону та імейл*/
.header-contacts {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* 1-а сторінка, 
Секція 2 Принципи компанії */

.principles {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.doing {
    padding-bottom: 120px;   
}

.team {
    padding-bottom: 120px;
}
.text-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

/* 1-а сторінка заголовки секцій 
наша робота, наша команда*/
.title-section {
    font-family: inherit;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
/* ставимо картинки в ряд */
.principles-wrap {
    display: flex;
    gap: 24px;
    padding-left: 156px;
    padding-right: 156px;
}

.doing-wrap
{
    display: flex;
    gap: 24px;
    padding-left: 156px;
    padding-right: 156px;
}
.team-wrap {
    display: flex;
    gap: 24px;
    padding-left: 156px;
    padding-right: 156px;
}
.team>.container {
background: #F4F4FD;
}
/* 1-а сторінка, 
Секція 4 Команда компанії
імена, професія */
.name {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 32px;
}
.job {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}
/* 2-а сторінка */

.header-logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

/* оформлення кнопок 2-а сторінка портфоліо
all, web-site, app, design, marketing*/
.button-name
 {  font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}
.button-name:hover 
{color: #FFFFFF;background: #404BBF;}

.button-name:focus 
{color: #FFFFFF; background: #404BBF;} 

/* PORTFOLIO*/

.portfolio-title 
{   font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-text 
{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ФУТЕР */
.footer-page>.container {
    background-color:  #2E2F42;
}
.footer-logo {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    padding-top: 100px;
    padding-left: 156px;
    margin-bottom: 16px;
}

.footer-logo-web {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
} 
.text-fotter {
   font-family: inherit;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: #E7E9FC;
   padding-left: 156px;
   padding-right: 1020px;
   padding-bottom: 100px;
}

/* БЛОКОВІ МОДЕЛІ */
/* ШИРИНА КОНТЕЙНЕРУ оригінал 1440+50 додатковий падінг */
.container {
width: 1470px; 
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 1px solid red;
}
